.data-table {
  margin-top: 10px;
}

p-footer {
  p-button {
    margin-left: 10px;
  }
} 

.field-label {
  color: #939393;
  margin-right: 5px;
}

.loading-overlay {
  border-radius: 6px;
}